body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

#meetingsList {
    margin-top: 20px;
}

.meetingItem {
    padding: 10px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
}
